
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body {
  margin: 0;
  font-family: 'poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #0d150f;
background-image: linear-gradient(341deg, #0d150f 0%, #1f3236 100%);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
