/* src/SignUp.css */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3c1053, #ad5389);
}

.signup-container {
    background: rgba(173, 83, 137, 0.8); /* Fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(60, 16, 83, 0.8), rgba(173, 83, 137, 0.8)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(60, 16, 83, 0.8), rgba(173, 83, 137, 0.8)); /* Standard syntax */
    color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0.5, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; /* Responsive width */
    height: auto; /* Allow height to adjust based on content */
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px;
    width: 100px;
    border: none;
    border-radius: 20px;
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: grey;
    color: black;
}

.sign-in-button {
    position: relative;
    top: 20px;
    left: 700px;
    background-color: black;
    color: whitesmoke;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration-thickness: 2px;
}

.sign-in-button:hover {
    background-color: whitesmoke;
    color: black;
}